# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
coverage.txt

# Output of the go coverage tool
*.out

# hugo builds
docs/public
docs/resources
docs/content/config/_index.md
*.hugo_build.lock

# goreleaser builds
dist/
