# Binaries for programs and plugins
*.exe
*.exe~

# Output of the go coverage tool
*.out
coverage.txt
coverage.html

# mkdocs files
.cache/
site/
venv/

# goreleaser builds
dist/

# NPM publishing
npm/dist/
changie-*.tgz
