.button {
  white-space: nowrap;
  display: inline-block;
  padding: 8px 15px 6px;
  background: $primary;
  font-weight: normal;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-radius: 3px;
  &:hover {
    color: $white;
    background-color: darken($primary, 40%);
    text-decoration: none;
  }
}
