main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

nav a,
#theme-toggle {
    border-color: transparent;
    border-bottom-style: solid;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

nav a:hover,
#theme-toggle:hover {
    border-color: currentColor;
    border-radius: var(--radius);
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
    gap: var(--gap);
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

#theme-toggle svg {
    height: 18px;
}

#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
    cursor: pointer;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu a {
    font-size: 16px;
    padding: 8px 15px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.social svg {
  width: 32px;
  height: 21px;
  translate: 0 3px;
}

@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}
