name: build-docs

on:
  pull_request:
    branches: [ main ]
    paths:
    - '.github/workflows/**'
    - 'docs/**'
    - 'cmd/**'
    - 'core/**'
    - '*/CHANGELOG.md'
    - 'requirements.txt'
  workflow_dispatch:
    inputs:
      deploy:
        description: 'deploy the built docs'
        type: boolean
        default: false
        required: false

jobs:
  build:
    name: Build Docs
    runs-on: ubuntu-latest
    steps:

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24

    - name: Check out code
      uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: 3.x
    - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
    - uses: actions/cache@v4
      with:
        key: mkdocs-material-${{ env.cache_id }}
        path: .cache
        restore-keys: |
          mkdocs-material-

    - name: Build docs
      run: |
        go run main.go gen
        pip install -r requirements.txt
        mkdocs build

    - name: Deploy Docs
      if: "${{ github.event.inputs.deploy }}"
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
        cname: changie.dev
