name: Generate release pull request

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  generate-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Batch and merge
      run: |
        go run main.go gen
        go run main.go batch auto
        go run main.go merge
        echo RELEASE_VERSION=$(go run main.go latest) >> $GITHUB_ENV
        tail -n +3 .changes/$(go run main.go latest).md > ${{ github.workspace }}/rel_notes.md

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        add-paths: |
          .changes/
          docs/
          CHANGELOG.md
          package.json
        title: Release ${{ env.RELEASE_VERSION }}
        branch: release/${{ env.RELEASE_VERSION }}
        commit-message: 'Release ${{ env.RELEASE_VERSION }}'
        body-path: '${{ github.workspace }}/rel_notes.md'
