name: test

on:
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/**'
    - 'cmd/**'
    - 'core/**'
    - 'then/**'
    - 'main.go'
    - 'go.sum'
  pull_request:
    branches: [ main ]
    paths:
    - '.github/workflows/**'
    - 'cmd/**'
    - 'core/**'
    - 'then/**'
    - 'main.go'
    - 'go.sum'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v6
      
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        # Required: the version of golangci-lint is required and must be specified
        # without patch version: we always use the latest patch version.
        version: 'v2.6'

    - name: Gen
      run: go run main.go gen

    - name: Test
      run: go test -cover ./...

    - name: Validate Changie fragments
      run: go run main.go batch major --dry-run
